@import "util";

.main {
    .description1 {
        padding: 50px 0px 50px 20px;
        display: flex;
        flex-direction: column;

        .img {
            @include background;
        }

        .header1 {
            font-size: 40px;
            font-weight: 500;
            max-width: 90%;
        }

        .writeup1 {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            max-width: 80%;
        }
    }
}

.sign-up1 {
    padding: 15px;
    margin-top: 30px;
    margin-right: 5px;
    height: 40px;
    min-width: 80px;
    background: #348aa7;
    outline: none;
    color: whitesmoke;
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 0 5px 0px darken(#348aa7, 0%);
    border-bottom: 2px solid darken(#348aa7, 3%);
    width: 100px;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
    align-self: flex-start;

    &:hover {
        background: darken(#348aa7, 5%);
        box-shadow: 0 4px 1px darken(#348aa7, 5%);
        border-bottom: 2px solid darken(#348aa7, 8%);
        transition: all 0.1s ease-in;
    }

    &:active {
        transform: translateY(4px);
        border-bottom-width: 2px;
        box-shadow: none;
    }

    &.projpage {
        border-top: 1px solid lightgrey;
        margin: auto;
        display: block;
        margin-bottom: 40px;
    }
}
