@import "util";

header {
    // position: ;
    width: 100%;
    padding-top: 5px;

    background-color: transparent;

    .container {
        margin-left: 10px;
        display: flex;
        height: 50px;
        align-items: center;

        .main-logo {
            margin-left: 10px;
            width: 200px;
            height: 50px;
        }

        .hamburger {
            margin-left: auto;
            margin-right: 10px;

            height: 50px;
            width: 50px;
            cursor: pointer;
            opacity: 0.85;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            @include easeOut;
            z-index: 1;

            .patty {
                display: block;
                width: 26px;
                height: 3px;
                margin-bottom: 5px;
                position: relative;

                background: $white;
                border-radius: 3px;
            }

            &.close {
                transform: rotate(180deg);

                .patty {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(5px, 5px);
                        background-color: darkgrey;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        background-color: darkgrey;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(7px, -6px);
                        background-color: darkgrey;
                    }
                }
            }
        }

        .projects-nav {
            display: none;
            position: absolute;
            right: 5vh;

            a {
                text-decoration: none;
                font-size: 20px;
                padding: 0 20px;
                align-self: center;
                font-weight: 550;
            }
        }
    }
}
